<div class="booking container">
  <div
    class="booking__image-container"
    style="background-image: url('<%= booking.trip.images[2].url %>')"
  ></div>
  <div class="booking__details-container slide-in-top">
    <div class="title-container slide-in-top">
      <section>
        <h1 class="title"><%= booking.trip.destination %></h1>
        <p class=""><%= booking.trip.duration %> day tour</p>
      </section>
      <div>
        <p class="price"><%= booking.room.price %>,-</p>
        <p>paid</p>
      </div>
    </div>

    <div class="inner-container slide-in-top">
      <section>
        <h4>description</h4>
        <p><%= booking.trip.description %></p>
      </section>
      <section>
        <h4>duration</h4>
        <p><%= booking.trip.duration %> days</p>
      </section>
      <article class="review slide-in-top">
        <details>
          <summary>write a review</summary>
          <form action="<%= booking.id %>/submitReview/" method="POST">
            <fieldset>
              <legend>what did you think of your trip?</legend>
              <section class="rating">
                <label for="rating"></label>
                <label>
                  <input type="radio" name="reviewStars" value="1" />
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="reviewStars" value="2" />
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="reviewStars" value="3" />
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="reviewStars" value="4" />
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="reviewStars" value="5" />
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
              </section>
              <section>
                <label for="review-description">description</label>
                <textarea
                  class=""
                  id="review-description"
                  name="reviewDescription"
                  placeholder="write about what you liked and what you didn't like"
                  required
                ></textarea>
              </section>
              <section>
                <label for="place">location</label>
                <input
                  class=""
                  type="text"
                  id="locationReview"
                  name="reviewPlace"
                  placeholder="your adress"
                  required
                />
                <button class="" id="locationReviewButton">
                  Use current location
                </button>
                <p class="">
                  *the 'Use current location' button is not working. Please
                  restart the website or enter manually
                </p>
              </section>
              <div>
                <button
                  class=""
                  type="submit"
                  id="showFormSubmitButton"
                  required
                >
                  Send
                </button>
              </div>
            </fieldset>
          </form>
        </details>
      </article>
      <article class="spacer">
        <section>
          <button class="btn btn--danger slide-in-top" id="removeBookingButton">
            Delete booking
          </button>
        </section>

        <article class="hidden removeBookingScreen">
          <h2>Are you sure you want to cancel this booking?</h2>
          <section>
            <button id="noKeepBookingButton">No, keep current booking</button>
            <form action="<%= booking.id %>/delete/" method="POST">
              <button
                type="submit"
                class="btn btn--danger"
                id="yesDeleteBookingButton"
              >
                Yes, cancel booking
              </button>
            </form>
          </section>
        </article>
        <script src="/js/geolocation.js"></script>
      </article>
    </div>
  </div>
</div>
