<div class="trip confirmed container">
  <div
    class="trip__image-container book-trip__image-container"
    style="background-image: url('<%= trip.images[3].url %>')"
  ></div>
  <div class="trip__details-container book-trip__details-container">
    <div class="title-container">
      <section>
        <h1 class="title"><%= booking.destination %></h1>
        <p class="duration"><%= trip.duration %> day tour</p>
      </section>
    </div>
    <% if (booking) { %>
    <section>
      <h2>Congratulations <%= user.username %></h2>
      <p>Save the date:</p>
      <p><%= dates %></p>
      <p>Thank you for booking with us!</p>
      <img />
    </section>
    <% } %>
    <div class="buttons-container">
      <a href="/bookings" class="btn btn--secondary">Go to bookings</a>
    </div>
  </div>
</div>
