<div class="trip container">
  <% if (trip) { %>
  <div
    class="trip__image-container"
    style="background-image: url('<%= trip.images[2].url %>')"
  ></div>
  <a class="back-icon-btn" onclick="history.back()">
    <img class="back-icon" src="/images/back.svg" alt="back icon" />
  </a>
  <div class="trip__details-container slide-in-top">
    <div class="title-container slide-in-top">
      <section>
        <h1 class="title"><%= trip.destination %></h1>
        <p class="trip__duration"><%= trip.duration %> day tour</p>
      </section>
      <div>
        <p class="price"><%= trip.price %>,-</p>
        <p class="per-person">per person</p>
      </div>
    </div>
    <div class="inner-container slide-in-top">
      <section>
        <h4>description</h4>
        <p><%= trip.description %></p>
      </section>
      <section>
        <h4>duration</h4>
        <p><%= trip.duration %> days</p>
      </section>
      <% if (reviews.length > 0) { %>
      <section>
        <h4>reviews</h4>
        <ul class="reviews">
          <% reviews.forEach((review) => { %>
          <li class="single-review">
            <div class="single-review__header">
              <% if (review.user.image_url) { %>
              <img
                class="single-review__picture"
                src="/images/<%= review.user.image_url %>"
              />
              <% } else { %>
              <img class="single-review__picture" src="/images/bahaa.jpg" />
              <% } %>
              <h4><%= review.user.username %></h4>
              <div class="stars">
                <% for (let i = 0; i < review.rating; i++) { %>
                <span class="star">&#9733;</span>
                <% } %>
              </div>
            </div>
            <div class="single-review__description">
              <p><%= review.description %></p>
            </div>
          </li>
          <% }) %>
        </ul>
      </section>
      <% } %>
    </div>
    <div class="book-btn-container">
      <div>
        <form method="post">
          <fieldset>
            <input type="hidden" name="tripId" value="<%- trip._id %>" />
            <button
              type="submit"
              class="trip-button-wishlist <%- user.savedTrips?.includes(trip._id) ? 'active' : '' %>"
              data-id="<%= trip._id %>"
            >
              <svg
                width="55"
                height="55"
                viewBox="0 0 99 97"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect width="99" height="97" fill="white" />
                <circle cx="49.5" cy="48.5" r="46.5" fill="white" />
                <path
                  d="M49.5 75.4419C50.2579 75.4419 51.3656 74.8561 52.2693 74.2704C68.5642 63.7271 79 51.368 79 38.8625C79 28.0556 71.5667 20.5582 62.2678 20.5582C56.4669 20.5582 52.1235 23.7797 49.5 28.5828C46.9348 23.7797 42.5623 20.5582 36.7614 20.5582C27.4333 20.5582 20 28.0556 20 38.8625C20 51.368 30.4649 63.7271 46.7307 74.2704C47.6344 74.8561 48.7421 75.4419 49.5 75.4419Z"
                  fill="#CBCBCB"
                />
              </svg>
            </button>
          </fieldset>
        </form>
        <a href="/trips/<%= trip.slug %>/book" class="btn book-btn slide-in-top"
          >Book now</a
        >
      </div>
    </div>
  </div>
  <% } %>
</div>
<script src="/js/matching.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
