<div class="trip container">
  <% if (trip) { %>
  <div
    class="trip__image-container"
    style="background-image: url('<%= trip.images[2].url %>')"
  ></div>
  <div class="trip__details-container slide-in-top">
    <div class="title-container slide-in-top">
      <section>
        <h1 class="title"><%= trip.destination %></h1>
        <p class="trip__duration"><%= trip.duration %> day tour</p>
      </section>
      <div>
        <p class="price"><%= trip.price %>,-</p>
        <p class="per-person">per person</p>
      </div>
    </div>
    <div class="inner-container slide-in-top">
      <section>
        <h4>description</h4>
        <p><%= trip.description %></p>
      </section>
      <section>
        <h4>duration</h4>
        <p><%= trip.duration %> days</p>
      </section>
    </div>
    
    <div class="review">
      <form action="">
        <fieldset>
          <legend>make a review</legend>

          <section class="rating">
            <label for="rating"></label>
            <label>
              <input type="radio" name="stars" value="1" />
              <span class="icon">★</span>
            </label>
            <label>
              <input type="radio" name="stars" value="2" />
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
            <label>
              <input type="radio" name="stars" value="3" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>   
            </label>
            <label>
              <input type="radio" name="stars" value="4" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
            <label>
              <input type="radio" name="stars" value="5" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
          </section>

          <section>
            <label for="review-description">description</label>
            <textarea
              class=""
              id="review-description"
              name="breview-description"
              placeholder="write about what you liked and what you didn't like"
              required
            ></textarea>
          </section>
          
          <section>
            <label for="place">location</label>
            <input
              type="text"
              id="place"
              name="place"
              placeholder="your adress"
              required
            />
            <button class="uit" id="locatieKnopId">
              use current location
            </button>
            <p class="">*the 'Use current location' button is not working. Please
              restart the website or enter manually</p>
          </section>

        </fieldset>
      </form>
    </div>

    <div class="book-btn-container">
      <div class="spacer"></div>
      <div>
        <a href="/trips/<%= trip.slug %>/book" class="btn book-btn slide-in-top"
          >Book now</a
        >
      </div>
    </div>
  </div>
  <% } %>
</div>
